body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;

    h2 {
        font-size: 32px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        padding-bottom: 50px;
    }
}

section {
    max-width: 800px;
    margin: 50px auto;
}